html{
    font-size: 16px;
}

.navbar{
    text-align: right;
    background-color: #000;
    border-bottom: 4px solid #8f0026;
    line-height: 2.5rem;
}

.navbar li{
    display:inline-block;
    font-family: quicksand;
    padding: 5px 10px;
    margin-right: 5px;
    color:#fff;
    font-size: 2rem;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color:#8f0026;
}

.footer{
    color:#fff;
    font-family: raleway, sans-serif;
    padding-left: 15px;
    text-align: left;
    background-color: #000;
    border-top: 4px solid #8f0026;
    line-height: 1.75rem;
    display: block;
    font-size: 0.85rem;
}

body{
    background-image: linear-gradient(#C9C6C640, #F1F2F640);
}


/*begin unique for page*/
.container h1{
    background-color: #8f0026;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: raleway, sans-serif;
    font-size: 3rem;
    outline: 2px solid #fff;
    outline-offset: -10px;
    display: block;
}

.tuukka-pic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 350px;
    width: 500px;
    background-image: url("./withTuuks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

#about{
    font-family: montserrat, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    line-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 30px 35px;
    color:#000;
    outline: 2px solid #8f0026;
    outline-offset: -10px;
    background-color: #fff;
}

#about a{
    color:#8f0026;
}

#about a:hover{
    font-style: italic;
}

#about strong{
    font-size: 1.5rem;
    font-family: quicksand, sans-serif;
}

.skills-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align:center;
}

.skill{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    border: 2.5px solid #8f0026;
}

@media only screen and (max-width: 450px){
    #about{
        font-family: montserrat, sans-serif;
        font-size: 1.25rem;
        text-align: center;
        width: 80%;
        line-height: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        padding: 30px 35px;
        color:#000;
        outline: 2px solid #8f0026;
        outline-offset: -10px;
        background-color: #fff;
    }    

    .skills-table{
        display: grid;
        width: 90%;
        position: relative;
        margin: auto;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align:center;
    }
    
    .skill{
        font-family: montserrat, sans-serif;
        font-size: 1rem;
        border: 1px solid #8f0026;
    }
}