html{
    font-size: 16px;
}

.navbar{
    text-align: right;
    background-color: #000;
    border-bottom: 4px solid #8f0026;
    line-height: 2.5rem;
}

.navbar li{
    display:inline-block;
    font-family: quicksand;
    padding: 5px 10px;
    margin-right: 5px;
    color:#fff;
    font-size: 2rem;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color:#8f0026;
}

.footer{
    color:#fff;
    font-family: raleway, sans-serif;
    padding-left: 15px;
    text-align: left;
    background-color: #000;
    border-top: 4px solid #8f0026;
    line-height: 1.75rem;
    display: block;
    font-size: 0.85rem;
}

body{
    background-image: linear-gradient(#C9C6C640, #F1F2F640);
}


/*begin unique for page*/
.container h1{
    background-image: linear-gradient(#454545, #2b2b2b);
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: raleway, sans-serif;
    font-size: 3rem;
    outline: 2px solid #fff;
    outline-offset: -10px;
    display: block;
}

.container p{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 25px;
    font-family: montserrat, sans-serif;
}

.container a{
    color: #8f0026;
}

.tuukka-pic{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 350px;
    width: 500px;
    background-image: url("./withTuuks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

#about{
    font-family: montserrat, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    line-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 30px 35px;
    color:#000;
    outline: 2px solid #8f0026;
    outline-offset: -10px;
    background-color: #fff;
}

#about a{
    color:#8f0026;
}

#about a:hover{
    font-style: italic;
}

#about strong{
    font-size: 1.5rem;
    font-family: quicksand, sans-serif;
}

.skills-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align:center;
}

.skill{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    border: 3.5px solid #8f0026;
}

.resume-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 10px;
}

.job{
    border: 2px solid #000;
    box-shadow: 3px 3px #9A193B80;
    padding: 0px 10px;
}

.job h3{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    color: #8f0026;
    text-shadow: 1.25px 1.25px #00000099;
}

.job p{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}

.date{
    font-style: italic;
    opacity: 80%;
    text-decoration: none;
}

.edu-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 10px;
    padding-bottom: 40px;
}

.school{
    border: 2px solid #000;
    padding: 0px 10px;
    box-shadow: 3px 3px #9A193B80;
}

.school h3{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    color: #8f0026;
    text-shadow: 1.25px 1.25px #00000099;
}

.school p{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}

@media only screen and (max-width: 500px){
    .container p{
        font-size: 1.25rem;
    }

    #about{
        font-family: montserrat, sans-serif;
        font-size: 1.25rem;
        text-align: center;
        width: 80%;
        line-height: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        padding: 30px 35px;
        color:#000;
        outline: 2px solid #8f0026;
        outline-offset: -10px;
        background-color: #fff;
    }    

    .skills-table{
        display: grid;
        width: 90%;
        position: relative;
        margin: auto;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align:center;
    }
    
    .skill{
        font-family: montserrat, sans-serif;
        font-size: 1rem;
        border: 1px solid #8f0026;
    }

    .tuukka-pic{
        width: auto;
    }

    .container h1{
        font-size: 2.5rem
    }

    .resume-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .job h3{
        font-size: 2rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .edu-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .school{
        padding-bottom: 20px;
    }

    .school h3{
        font-size: 2rem;
    }

    .school p{
        font-size: 1.25rem;
    }

}

@media only screen and (min-width: 500px) and (max-width:700px){
    .container p{
        font-size: 1.25rem;
    }

    .skills-table{
        display: grid;
        width: 90%;
        position: relative;
        margin: auto;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align:center;
    }
    
    .skill{
        font-family: montserrat, sans-serif;
        font-size: 1.5rem;
        border: 1px solid #8f0026;
    }

    .resume-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .job h3{
        font-size: 2rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .edu-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .school{
        padding-bottom: 20px;
    }

    .school h3{
        font-size: 2rem;
    }

    .school p{
        font-size: 1.25rem;
    }
}

@media only screen and (min-width:700px) and (max-width:850px){
    .container p{
        font-size: 1.25rem;
    }

    .skill{
        font-size: 1.25rem;
    }

    .resume-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .job h3{
        font-size: 2rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .edu-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .school{
        padding-bottom: 20px;
    }

    .school h3{
        font-size: 2rem;
    }

    .school p{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width:400px){
    .skill p{
        font-size: 1.05rem;
    }
}