html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    display: inline;
    padding: 25px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    margin-top: 270px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}


/*begin unique for this page*/

.jumbotron{
    background-image: url("./wedding_dad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:1500px;
    width:auto;
}

#title{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    color: #fff;
    background-color: #0000009f;
    height:fit-content;
    width: fit-content;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    border-radius: 15px;
}

#title h1{
    font-family: raleway, sans-serif;
    font-size: 7rem;
    padding: 30px 50px 0px 50px;
}

#title h2{
    font-family: montserrat, sans-serif;
    font-size: 3.5rem;
    padding-bottom: 30px;
    font-style: italic;
}

.button{
    font-family: quicksand, sans-serif;
    font-size: 3rem;
    text-align: center;
    width: fit-content;
    margin-top: 620px;
    margin-left: auto;
    margin-right: 240px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 5px solid #000;
    padding: 30px 20px;
}

.button:hover{
    cursor: pointer;
    font-style: italic;
    background-color: #fff;
    -moz-box-shadow: 5px 5px 70px 3px #ccc;
    -webkit-box-shadow: 5px 5px 70px 3px #ccc;
    box-shadow: 5px 5px 70px 3px #ccc;
}

.button:active{
    -moz-box-shadow: inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}

.button a{
    text-decoration: none;
    color: #AD9600;
    text-shadow: 1.5px 1.5px #0000009f;
}

@media only screen and (max-width: 2375px) {
    #title{
        margin-top: 75px;
    }
    
    #title h1{
        font-size: 6rem;
    }
    
    #title h2{
        font-size: 3rem;
    }

    .button{
        margin-top: 700px;
        margin-right: 200px;
    }

    .footer{
        margin-top: 250px;
    }
}

@media only screen and (max-width: 2025px) {
    #title h1{
        font-size: 5rem;
    }

    #title h2{
        font-size: 2.5rem;
    }

    .button{
        margin-top: 800px;
        margin-right: 150px;
    }

    .footer{
        margin-top: 175px;
    }
}

@media only screen and (max-width: 1550px) {
    #title{
        margin-top: -10px;
    }
    
    #title h1{
        font-size: 4.5rem;
    }

    #title h2{
        font-size: 2rem;
    }

    .button{
        margin-top: 875px;
        margin-right: 125px;
    }
}

@media only screen and (max-width: 1100px) {
    #title{
        margin-right: auto;
        margin-left: auto;
        margin-top: -15px;
    }

    .button{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 735px) {
    #title h1{
        font-size: 4rem;
    }

    .button{
        margin-top: 900px;
    }
}

@media only screen and (max-width: 640px) {
    .navbar li{
        font-size: 1.75rem;
    }

    .footer{
        margin-top: 100px;
        font-size: 1.25rem;
        line-height: 3rem;
    }

    #title h1{
        font-size: 3.5rem;
    }

    #title h2{
        font-size: 1.75rem;
    }

    .button{
        margin-top: 950px;
    }
}




/*for Surface Duo*/
@media only screen and (max-width: 540px) {
    .navbar {
        padding: 0px;
    }

    .navbar li{
        padding: 0px 17px;
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .jumbotron{
        height: 1200px;
    }

    #title{
        border-radius: 0px;
        margin-top: -25px;
    }

    #title h1{
        padding: 20px 25px 0px 25px;
    }

    #title h2{
        padding: 0px 0px 20px 0px;
    }

    .button{
        margin-top: 700px;
    }

    .footer{
        margin-top: 124px;
    }

}

/*for iphone XR and Galaxy S20 ULtra/A51*/
@media only screen and (max-width: 415px) {
    #title{
        margin-top: 500px;
        border-radius: 0px;
    }

    #title h1{
        line-height: 3rem;
    }

    #title h2{
        line-height: 1.55rem;
        font-size: 1.5rem;
    }

    .button{
        margin-top: 40px;
        font-size: 2rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .button a{
        text-shadow: 1.25px 1.25px #0000009f;
    }

    .jumbotron{
        height: 1000px;
    }

    .footer{
        font-size: 0.8rem;
        line-height:2.5rem;
        margin-top: 50px;
    }
}

/*for iphone 12 pro and Pixel 5*/
@media only screen and (max-width: 395px){
    .navbar li{
        padding: 0px 15px;
        font-size: 1.7rem;
    }
}

/*for iphone SE*/
@media only screen and (max-width: 380px){
    .navbar li{
        padding: 0px 12px;
        font-size: 1.7rem;
    }

    .jumbotron{
        height: 825px
    }

    #title{
        margin-top: 400px;
    }

    #title h1{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    #title h2{
        line-height: 1.25rem;
        font-size: 1.25rem;
    }

    .button{
        font-size: 1.65rem;
    }

    .footer{
        margin-top: 100px;
    }
}

/*for Galaxy S8+*/
@media only screen and (max-width: 360px){
    .navbar li{
        padding: 0px 10px;
        font-size: 1.7rem;
    }

    .jumbotron{
        height: 750px
    }

    #title{
        margin-top: 350px;
    }

    .footer{
        margin-top: 75px;
    }
}

/*for Galaxy Fold*/
@media only screen and (max-width: 300px){
    .navbar li{
        padding: 0px 7px;
        font-size: 1.25rem;
    }

   .button{
    font-size: 1.5rem;
   }

    .footer{
        margin-top: 77px;
    }
}