/*updated for version 2.1.0*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    display: inline;
    padding: 50px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    margin-top: 275px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}


/*begin unique for this page*/

.jumbotron{
    background-image: url("./wedding_dad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:1500px;
    width:auto;
}

#title{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    color: #fff;
    background-color: #0000009f;
    height:fit-content;
    width: fit-content;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    border-radius: 15px;
}

#title h1{
    font-family: raleway, sans-serif;
    font-size: 7rem;
    padding: 30px 50px 0px 50px;
}

#title h2{
    font-family: montserrat, sans-serif;
    font-size: 3.5rem;
    padding-bottom: 30px;
    font-style: italic;
}
/*
.button{
    font-family: quicksand, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #AD9600;
    display: block;
    width:475px;
    height: 70px;
    text-decoration: none;
    overflow: hidden;

    margin-top: 620px;
    margin-left: auto;
    margin-right: 240px;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 5px solid #000;

    padding: 30px 20px;
}
*/
.button {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #f9fcfbec;
    color: #AD9600;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    
  }

  .button span,
  .button div,
  .button i {
    transition: width 750ms ease-in 200ms, left 500ms ease-out 450ms, font-size 950ms ease;
  }
  
  .button span,
  .button .icon {
     position: absolute;
     display: block;
    height: 100%;
    text-align: center;
   }

  
  .button span {
    width: 72%;
    left: 0px;
    line-height: inherit;
    font-size: 25px;
  }
  
  .button .icon {
    right: 0;
    width: 28%;
  }
  
  .button .icon .fa {
    font-size: 30px;
    vertical-align: middle;
  }
  
  .icon {
    width: 200px;
    background-color: #aaacabb2;
  }
  
  .button:hover span {
    left: -72%;
  }
  
  .button:hover .icon {
    width: 100%;
  }
  
  .button:hover .icon .fa {
    font-size: 45px;
  }

/*begin responsive design*/
@media only screen and (max-width: 2350px) and (min-width: 1370px){
    #title h1{
        font-size: 6rem;
    }

    #title h3{
        font-size: 3.25rem;
    }

    .button{
        margin-top: 580px;
    }

    .footer{
        margin-top: 250px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 1370px){
    #title h1{
        font-size: 5.25rem;
    }

    #title h2{
        font-size: 3rem;
    }

    .button{
        margin-right: 140px;
    }

    .footer{
        margin-top: 300px;
    }
}

@media only screen and (max-width: 1725px) and (min-width: 1370px){
    #title h1{
        font-size: 4.75rem;
    }

    #title h2{
        font-size: 2.75rem;
    }

    .button{
        margin-right: 50px;
    }

    .footer{
        margin-top: 335px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1370px){
    #title h1{
        font-size: 4.5rem;
    }

    #title h2{
        font-size: 2.5rem;
    }

    .button{
        margin-top: 615px;
    }

    .footer{
        margin-top: 310px;
    }
}


/*for Surface Pro 7 - horizontal */
@media only screen and (max-width: 1370px){
    .navbar{
        padding-left: 0px;
    }

    .navbar li{
        font-size: 3rem;
    }

    #title{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    #title h1{
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 5.5rem;
    }

    #title h2{
        margin-top: 0px;
        font-size: 2.75rem;
    }

    .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 850px;
    }

    .footer{
        margin-top: 125px;
    }
}

/*for iPad Air - horizontal*/
@media only screen and (max-width: 1180px) {
    .navbar li{
        font-size: 2.5rem;
        padding: 50px;
    }

    .button{
        margin-top: 857px;
    }

    .footer{
        margin-top: 120px;
    }
}

/*for iPad Mini - horizontal*/
@media only screen and (max-width: 1024px){
    .button{
        margin-top: 865px;
    }

    .footer{
        font-size: 1.25rem;
        margin-top: 115px;
    }
}

/*for Pixel 5 - horizontal*/
@media only screen and (max-width: 855px){
    .navbar li{
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0px 50px;
    }

    #title h1{
        font-size: 4.5rem;
    }

    #title h2{
        font-size: 2.25rem;
    }

    .button{
        margin-top: 900px;
    }

    .footer{
        font-size: 1.15rem;
        margin-top: 115px;
    }
}

/*for Galaxy S8+ - horizontal */
@media only screen and (max-width: 740px){
    #title h1{
        font-size: 4.25rem;
    }

    #title h2{
        font-size: 2rem;
    }

    .button{
        margin-top: 915px;
    }

    .footer{
        font-size: 1rem;
        margin-top: 110px;
    }
}

/*for iPhone SE - horizontal */
@media only screen and (max-width: 670px){
    .navbar li{
        font-size: 1.75rem;
        line-height: 2rem;
        padding: 0px 38px;
    }

    #title h1{
        font-size: 3.8rem;
    }

    #title h2{
        font-size: 1.9rem;
    }

    .footer{
        font-size: 0.9rem;
        margin-top: 120px;
    }
}

/*for Surface Duo - vertical*/
@media only screen and (max-width:540px){
    .navbar{
        margin-bottom: 0px;
    }

    .navbar li{
        padding: 0px 27px;
    }

    #title{
        margin-top: 30px;
    }

    #title h1{
        font-size: 3rem;
    }

    #title h2{
        font-size: 1.5rem;
    }

    .button{
        margin-top: 925px;
    }

    .footer{
        font-size: 0.75rem;
        line-height: 2.5rem;
        margin-top: 145px;
    }
}

@media only screen and (max-width: 470px){
    .navbar li{
        padding: 0px 22px;
        font-size: 1.6rem;
    }
}

/*for iPhone XR - vertical*/
@media only screen and (max-width: 415px){
    .navbar li{
        padding: 0px 20px;
        font-size: 1.5rem;
    }

    #title{
        border-radius: 0px;
    }

    .button{
        margin-top: 865px;
        font-size: 2.25rem;
    }

    .button a{
        text-shadow: 1.25px 1.25px #0000009f;
    }

    .footer{
        line-height: 2rem;
    }
}

/*for iPhone SE - vertical*/
@media only screen and (max-width: 380px){
    .navbar li{
        font-size: 1.25rem;
        padding: 0px 22px;
    }

    .jumbotron{
        height: 825px;
    }

    #title{
        margin-top: 400px;
    }

    .button{
        margin-top: 20px;
        font-size: 1.5rem;
        padding: 10px;
    }

    .button a{
        text-shadow: 0.5px 0.5px #0000009f;
    }

    .footer{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 360px){
    .navbar li{
        font-size: 1.15rem;
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 325px){
    .navbar li{
        font-size: 1rem;
        padding: 0px 17px;
    }
}

/*for Galaxy Fold - vertical*/
@media only screen and (max-width: 280px){
    .navbar li{
        padding: 0px 15px;
    }

    #title h1{
        font-size: 2.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    #title h2{
        font-size: 1rem;
    }

    .footer{
        margin-top: 40px;
    }
}
