/*updated for version 2.1.0*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);



html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
    background-repeat: no-repeat;
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    display: inline;
    padding: 50px;
}

#currentPage a{
    color: #E0C100;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    margin-top: 425px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}


/*begin unique for this page*/

#slideshow{
    border: 3px solid #fff;
    margin: 25px;
    padding: 25px;
    display: inline-flex;
}

#slideshow img{
    max-height: 1014px;
    max-width: 1014px;
    height: auto;
    width: auto;
}

#slideshow p{
    color:#fff;
    font-family: montserrat, sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#arrowButton{
    color: #fff;
    font-size: 7rem;
    margin-top: auto;
    margin-bottom: auto;
}

#arrowButton:hover{
    cursor: pointer;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#arrowButtonTwo{
    color: #fff;
    font-size: 7rem;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

#arrowButtonTwo:hover{
    cursor: pointer;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#backArrowButton{
    color: #fff;
    font-size: 7rem;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

#backArrowButton:hover{
    cursor: pointer;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#backArrowButtonTwo{
    color: #fff;
    font-size: 7rem;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

#backArrowButtonTwo:hover{
    cursor: pointer;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.container h1{
    font-family: quicksand, sans-serif;
    font-size: 5rem;
    line-height: 7rem;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
    text-shadow: 5px 5px #000;
    background-color: #0000009f;
    background-size: contain;
}

.skills-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align:center;
}

.skill{
    font-family: montserrat, sans-serif;
    font-size: 2.5rem;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.295);
    border: 3.5px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.473);
}

.resume-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 30px;
}

#resume-line {
    color:#fff;
    font-size: 2rem;
    font-family: montserrat, sans-serif;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: center;
}

#resume-line a{
    color:#E0C100;
}

.job{
    border: 2px solid #000;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.473);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.295);
    border: 3.5px solid #fff;
    border-radius: 10px;
}

.job h3{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    color:#fff;
    text-decoration: underline;
}

.job p{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.date{
    font-style: italic;
    opacity: 80%;
    text-decoration: none;
}

.edu-table{
    display: grid;
    width: 82.5%;
    position: relative;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    gap: 30px;
    
    padding-top: 50px;
}

.school{
    border: 2px solid #000;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.473);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.295);
    border: 3.5px solid #fff;
    border-radius: 10px;
}

.school h3{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: underline;
    text-shadow: 1.25px 1.25px #00000099;
}

.school p{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    color:#fff;
}

.button {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #f9fcfbec;
    color: #AD9600;
    font-family: quicksand, sans-serif;
    font-weight: bold;
  }

  .button span,
  .button div,
  .button i {
    transition: width 750ms ease-in 200ms, left 500ms ease-out 450ms, font-size 950ms ease;
  }
  
  .button span,
  .button .icon {
     position: absolute;
     display: block;
    height: 100%;
    text-align: center;
   }

  
  .button span {
    width: 72%;
    left: 0px;
    line-height: inherit;
    font-size: 25px;
  }
  
  .button .icon {
    right: 0;
    width: 28%;
  }
  
  .button .icon .fa {
    font-size: 30px;
    vertical-align: middle;
  }
  
  .icon {
    width: 200px;
    background-color: #aaacabb2;
  }
  
  .button:hover span {
    left: -72%;
  }
  
  .button:hover .icon {
    width: 100%;
  }
  
  .button:hover .icon .fa {
    font-size: 45px;
  }

/*begin responsive design*/
@media only screen and (max-width: 2100px){
    .navbar{
        padding-left: 0px;
    }

    #slideshow img{
        max-width: 862px;
    }
}

@media only screen and (max-width: 1825px){
    #slideshow img{
        max-width: 732.7px;
    }

    #slideshow p{
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 1585px){
   #slideshow{
    margin-left: 15px;
    margin-right: 15px;
   }
}

@media only screen and (max-width: 1510px){
    #slideshow{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #slideshow p{
        font-size: 2rem;
        line-height: 3rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    #arrowButton{
        font-size: 5.5rem;
    }
    
    #arrowButtonTwo{
        font-size: 5.5rem;
    }

    #backArrowButton{
        font-size: 5.5rem;
    }

    #backArrowButtonTwo{
        font-size: 5.5rem;
    }

    .skill{
        font-size: 2rem;
    }
}

/*for Surface Pro 7 - horizontal */
@media only screen and (max-width: 1370px){
    #navbar{
        padding-left: 0px;
    }

    #slideshow{
        padding-left: 10px;
        padding-right: 10px;
    }

    #slideshow img{
        max-height: 862px;
    }

    #slideshow p{
        font-size: 1.75rem;
        line-height: 2.75rem;
        margin-left: 7px;
        margin-right: 7px;
    }

    .container h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (max-width: 1235px){
    #slideshow{
        padding: 3px;
    }

    #slideshow img{
        max-width: 623px;
    }

    #slideshow p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-left: 5px;
        margin-right: 5px;
    }

    #arrowButton{
        font-size: 4.5rem;
    }
    
    #arrowButtonTwo{
        font-size: 4.5rem;
    }

    #backArrowButton{
        font-size: 4.5rem;
    }

    #backArrowButtonTwo{
        font-size: 4.5rem;
    }
}

/*for iPad Air - horizontal*/
@media only screen and (max-width: 1180px){
    .skill{
        font-size: 1.5rem;
    }

    #resume-line{
        font-size: 1.75rem;
    }

    .footer{
        margin-top: 200px;
    }

    .job h3{
        font-size: 2rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .school h3{
        font-size: 2rem;
    }

    .school p{
        font-size: 1.25rem;
    }
    
}

/*for iPad Mini - horizontal*/
@media only screen and (max-width: 1024px){
    #slideshow img{
        max-width: 500px;
        max-height: 732.7px;
    }

    #slideshow p{
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    #resume-line{
        font-size: 1.5rem;
        padding-left: 5px;
    }
    
    .footer{
        font-size: 1.25rem;
    }
}

/*for Pixel 5 - horizontal*/
@media only screen and (max-width: 905px){
    .navbar li{
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0px 50px;
    }

   #slideshow{
        display: block;
        text-align: center;
   }

   #slideshow img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        max-width: 623px;
   }

   #slideshow p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 15px;
    }

    .container h1{
        font-size: 3.5rem;
        line-height: 5rem;
        margin-top: 75px;
    }

    .skill{
        font-size: 1.25rem;
    }

    #resume-line{
        font-size: 1.25rem;
    }

    .edu-table{
        padding-top: 0px;
    }

    .footer{
        font-size: 1.15rem;
    }
}

/*for Galaxy S8+ - horizontal */
@media only screen and (max-width: 760px){
    #slideshow p{
        font-size: 1.25rem;
        line-height: 2.25rem;
    }

    .skills-table{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #resume-line{
        padding-left: 0px;
    }

    .resume-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .edu-table{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .job h3{
        font-size: 2.5rem;
    }

    .job p{
        font-size: 1.5rem;
    }

    .school h3{
        font-size: 2.5rem;
    }

    .school p{
        font-size: 1.5rem;
    }

    .footer{
        font-size: 1rem;
        margin-top: 150px;
    }
}

/*for iPhone SE - horizontal */
@media only screen and (max-width: 690px){
    .navbar li{
        font-size: 1.75rem;
        line-height: 2rem;
        padding: 0px 38px;
    }

    #slideshow img{
        max-width: 530px;
        max-height: 732.7px;
    }

    .container h1{
        font-size: 3.25rem;
        line-height: 4.75rem;
        margin-top: 50px;
    }

    .job h3{
        font-size: 2.25rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .school h3{
        font-size: 2.25rem;
    }

    .school p{
        font-size: 1.25rem;
    }

    .footer{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 590px){
    #slideshow{
        margin: 5px;
    }

    #slideshow img{
        max-width: 450.5px;
        max-height: 623px;
    }
}

/*for Surface Duo - vertical*/
@media only screen and (max-width:550px){
    .navbar li{
        padding: 0px 22px;
        font-size: 1.6rem;
    }
    
    #resume-line{
        padding-right: 5px;
        padding-left: 5px;
    }

    .container h1{
        margin-bottom: 35px;
    }

    .job h3{
        font-size: 2.25rem;
    }

    .job p{
        font-size: 1.25rem;
    }

    .school h3{
        font-size: 2.25rem;
    }

    .school p{
        font-size: 1.25rem;
    }
    
    .footer{
        font-size: 0.75rem;
        line-height: 2.5rem;
        margin-top: 145px;
    }
}

@media only screen and (max-width: 500px){
    #slideshow img{
        max-width: 380px;
        max-height: 530px;
    }

    .skills-table{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*for iPhone XR - vertical*/
@media only screen and (max-width: 417px){
    .navbar li{
        padding: 0px 20px;
        font-size: 1.5rem;
    }

    #slideshow img{
        max-height: 450.5px;
        max-width: 325px;
    }

    #slideshow p{
        font-size: 1.15rem;
        line-height: 2.15rem;
    }

    #arrowButton{
        font-size: 3.75rem;
    }
    
    #arrowButtonTwo{
        font-size: 3.75rem;
    }

    #backArrowButton{
        font-size: 3.75rem;
    }

    #backArrowButtonTwo{
        font-size: 3.75rem;
    }

    .footer{
        line-height: 2rem;
    }
}

/*for iPhone 12 Pro - vertical*/
@media only screen and (max-width: 390px){
    .navbar li{
        font-size: 1.25rem;
        padding: 0px 22px;
    }

    .container h1{
        font-size: 3rem;
        line-height: 4.5rem;
    }
}

@media only screen and (max-width: 365px){
    .navbar li{
        font-size: 1.15rem;
        padding: 0px 20px;
    }

    #slideshow img{
        max-height: 415px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 335px){
    .navbar li{
        font-size: 1rem;
        padding: 0px 17px;
    }

    #slideshow img{
        max-width: 275px;
        max-height: 400px;
    }

    .container h1{
        font-size: 2.25rem;
        line-height: 3.75rem;
    }

    #resume-line{
        font-size: 1rem;
    }

    .job h3{
        font-size: 1.75rem;
    }

    .job p{
        font-size: 1.15rem;
    }

    .school h3{
        font-size: 1.75rem;
    }

    .school p{
        font-size: 1.15rem;
    }
}

/*for Galaxy Fold - vertical*/
@media only screen and (max-width: 330px){
    .navbar li{
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 285px){
    #slideshow img{
        max-width: 230px;
        max-height: 350px;
    }
}

