/*updated for version 2.0.2*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 400ms forwards;
    padding: 0px;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    display: inline;
    padding: 0px 50px;
    margin: auto;
}

#currentPage a{
    color: #E0C100;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 2s ease-in 400ms forwards;
}

@media only screen and (max-width: 1150px){
    .navbar li{
        font-size: 2rem;
        line-height: 3rem;
        padding: 0px 40px;
    }

    .footer{
        font-size: 1.25rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar li{
        padding: 0px 30px
    }

    .footer{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 715px){
    .navbar li{
        padding: 0px 20px;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .footer{
        font-size: 0.8rem;
        line-height: 2.55rem;
    }
}

@media only screen and (max-width: 575px){
    .navbar li{
        padding: 0px 15px;
        font-size: 1.25rem;
    }

    .footer{
        font-size: 0.7rem;
        line-height: 2.45rem;
    }
}

@media only screen and (max-width: 500px){
    .footer{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 450px){
    .navbar li{ 
        font-size: 1rem;
    }

    .footer{
        font-size: 0.55rem;
        line-height: 2.25rem;
    }
}

@media only screen and (max-width: 395px){
    .navbar li{
        padding: 0px 12px;
    }

    .footer{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 355px){
    .navbar li{
        font-size: 0.75rem;
    }

    .footer{
        font-size: 0.45rem;
    }
}

@media only screen and (max-width: 325px){
    .footer{
        font-size: 0.4rem;
    }
}



/*begin unique for this page*/

#pic{
    display: flex;
    justify-content: center;
}

#pic img{
    height: 400px;
    width: 400px;
    border-radius: 250px;
    margin-top: 30px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 2000ms forwards;
}

.icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.icons a{
    font-size:5rem
}

.fa{
    color:#E0C100;
    padding: 50px;
}

.fa-github{
    opacity: 0;
    animation: fadeIn 2.5s ease-in 3000ms forwards;
}

.fa-linkedin-square{
    opacity: 0;
    animation: fadeIn 2.5s ease-in 4000ms forwards;
}

.fa-envelope{
    opacity: 0;
    animation: fadeIn 2.5s ease-in 5000ms forwards;
}

#submissionForm{
    text-align: center;
    margin: 50px;
    padding: 20px 50px 50px 50px;
    border: 5px solid rgba(255, 255, 255, 0.521);
    border-radius: 10px;
}

#submissionForm h1{
    font-family: quicksand, sans-serif;
    font-size: 4rem;
    color: #fff;
}

#submissionForm p{
    font-family: montserrat, sans-serif;
    font-size: 2rem;
    color: #fff;
}

#submissionForm label, span{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    color:#fff
}

#submissionForm input, textarea, option, select{
    font-family: montserrat, sans-serif;
    font-size: 1.25rem;
}

#submissionForm label{
    line-height: 2.5rem;
}

#submissionForm input[type="text"], select{
    margin-left: 10px;
}

#submissionForm input[type="submit"]{
    padding: 15px;
    border-radius: 10px;
}

.radioButtons{
    margin-left: 50px;
}

.footer{
    margin-top: 100px;
}

/*for SurfaceDuo*/
@media only screen and (max-width: 600px){
    #pic img{
        margin-top: 0px;
        height: 300px;
        width: 300px;
    }

    .contact-list{
        padding-left: 0px;
    }
}

/*for iphone XR and Galaxy S20 ULtra/A51*/
@media only screen and (max-width: 435px){

    .contact-list li{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .footer{
        font-size: 0.8rem;
        line-height:2.5rem;
        margin-top: 50px;
    }
}

/*for Galaxy Fold*/
@media only screen and (max-width: 350px){

    #pic img{
        height: 220px;
        width: 220px;
    }

    .contact-list li{
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
