/*updated for version 2.1.0*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 400ms forwards;
    padding: 0px;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    display: inline;
    padding: 0px 50px;
    margin: auto;
}

#currentPage a{
    color: #E0C100;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 2s ease-in 400ms forwards;
}

@media only screen and (max-width: 1150px){
    .navbar li{
        font-size: 2rem;
        line-height: 3rem;
        padding: 0px 40px;
    }

    .footer{
        font-size: 1.25rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar li{
        padding: 0px 30px
    }

    .footer{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 715px){
    .navbar li{
        padding: 0px 20px;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .footer{
        font-size: 0.8rem;
        line-height: 2.55rem;
    }
}

@media only screen and (max-width: 575px){
    .navbar li{
        padding: 0px 15px;
        font-size: 1.25rem;
    }

    .footer{
        font-size: 0.7rem;
        line-height: 2.45rem;
    }
}

@media only screen and (max-width: 500px){
    .footer{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 450px){
    .navbar li{
        font-size: 1rem;
    }

    .footer{
        font-size: 0.55rem;
        line-height: 2.25rem;
    }
}

@media only screen and (max-width: 395px){
    .navbar li{
        padding: 0px 12px;
    }

    .footer{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 355px){
    .navbar li{
        font-size: 0.75rem;
    }

    .footer{
        font-size: 0.45rem;
    }
}

@media only screen and (max-width: 325px){
    .footer{
        font-size: 0.4rem;
    }
}

/*begin unique for this page*/

.jumbotron{
    background-image: url("../content/wedding_dad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:1500px;
    width:auto;
}



#title{
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 100px;
    color: #fff;
    background-color: #000000b7;
    height:fit-content;
    width: fit-content;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 1500ms forwards;
}



#title h1{
    font-family: raleway, sans-serif;
    font-size: 6rem;
    padding: 30px 50px 0px 50px;
}

#title h2{
    font-family: montserrat, sans-serif;
    font-size: 3.5rem;
    padding-bottom: 30px;
    font-style: italic;
}

.button {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin-top: 75px;
    margin-left: auto;
    margin-right: 340px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 100px;
    line-height: 100px;
    background-color: #f9fcfbec;
    color: #AD9600;
    font-family: quicksand, sans-serif;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 2.5s ease-in 2500ms forwards;
  }

  .button span,
  .button div,
  .button i {
    transition: width 750ms ease-in 200ms, left 500ms ease-out 450ms, font-size 950ms ease;
  }
  
  .button span,
  .button .icon {
    position: absolute;
    display: block;
    height: 100%;
    text-align: center;
   }

  
  .button span {
    width: 72%;
    left: 0px;
    line-height: inherit;
    font-size: 25px;
  }
  
  .button .icon {
    right: 0;
    width: 28%;
  }
  
  .button .icon .fa {
    font-size: 30px;
    vertical-align: middle;
  }
  
  .icon {
    width: 200px;
    background-color: #aaacabb2;
  }
  
  .button:hover span {
    left: -72%;
  }
  
  .button:hover .icon {
    width: 100%;
  }
  
  .button:hover .icon .fa {
    font-size: 45px;
  }

  .footer{
    margin-top: 765px;
  }

/*begin responsive design*/

@media only screen and (max-width: 2250px){
    #title{
        margin-top: 50px;
    }

    #title h1{
        font-size: 5rem;
    }

    #title h2{
        font-size: 3rem;
    }

    .button{
        margin-right: 280px;
    }

    .footer{
        margin-top: 850px;
      }
}

@media only screen and (max-width: 1825px){
    #title{
        margin-right: 50px;
    }

    .button{
        margin-right: 230px;
    }

    .footer{
        margin-top: 860px;
    }
}


@media only screen and (max-width: 1700px){
    #title{
        margin-top: 20px;
    }

    #title h1{
        font-size: 4rem;
        margin-top: 0px;
    }

    #title h2{
        font-size: 2rem;
    }

    .button{
        margin-right: 162px;
    }

    .footer{
        margin-top: 950px;
      }
}

@media only screen and (max-width: 1300px){
    #title{
        margin-right: auto;
    }

    .button{
        margin-right: auto;
        margin-top: 750px;
    }

    .footer{
        margin-top: 270px;
    }
}

@media only screen and (max-width: 1150px){
    .jumbotron{
        height: 1200px;
    }

    #title{
        margin-top: 650px;
    }

    .button{
        margin-top: 30px;
    }
    
    .footer{
        margin-top: 95px;
    }
}

@media only screen and (max-width: 850px){
    .jumbotron{
        height: 1000px;
    }

    #title{
        margin-top: 525px;
    }

    #title h1{
        font-size: 3.5rem;
        padding: 20px 30px 0px 30px;
    }

    #title h2{
        font-size: 1.75rem;
        padding-bottom: 20px;
    }

    .button{
        margin-top: 30px;
        width: 300px;
        height: 75px;
        line-height: 75px;
    }

    .button span {
        font-size: 1.15rem;
      }
    
    .footer{
        margin-top: 90px;
    }
}

@media only screen and (max-width: 715px){
    .jumbotron{
        height: 900px;
    }

    #title{
        margin-top: 470px;
    }
    
    #title h1{
        margin-bottom: 20px;
    }

    #title h2{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .button{
        margin-top: 20px;
    }

    .footer{
        margin-top: 85px;
    }
}

@media only screen and (max-width: 575px){
    #title{
        margin-top: 12px;
    }
    
    #title h1{
        font-size: 2.5rem;
    }

    #title h2{
        font-size: 1.5rem;
    }

    .button{
        width: 250px;
        height: 50px;
        line-height: 50px;
        margin-top: 525px;
    }

    .button span {
        font-size: 1rem;
      }

    .button .icon .fa {
        font-size: 20px;
    }

    .button:hover .icon .fa {
        font-size: 35px;
    }

    .footer{
        margin-top: 85px;
    }
}

@media only screen and (max-width: 450px) {
    #title h1{
        font-size: 2.25rem;
    }

    #title h2{
        font-size: 1.25rem;
    }

    .footer{
        margin-top: 100px;
    }
}

@media only screen and (max-width: 395px){
    #title{
        margin-top: 17px;
    }
    
    #title h1{
        font-size: 2rem;
    }

    #title h2{
        font-size: 1rem;
    }

    .button{
        width: 250px;
        height: 50px;
        line-height: 50px;
        margin-top: 550px;
    }

    .button span {
        font-size: 1rem;
      }

    .button .icon .fa {
        font-size: 20px;
    }

    .button:hover .icon .fa {
        font-size: 35px;
    }

    .footer{
        margin-top: 85px;
    }
}

@media only screen and (max-width: 355px){
    #title{
        margin-top: 20px;
    }
    
    #title h1{
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 325px){    
    #title h1{
        font-size: 1.5rem;
    }

    .footer{
        margin-top: 90px;
    }
}


