html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(#000, #000000b6);
}

.navbar{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
}

.navbar li{
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    display: inline;
    padding: 25px;
}

#currentPage a{
    color: #E0C100;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    font-style: italic;
}

.navbar a:active{
    color: #E0C100;
}

.footer{
    text-align: center;
    background-color: #0000009f;
    line-height: 4rem;
    margin-bottom: 0px;
    margin-top: 750px;
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
}


/*begin unique for this page*/
.jumbotron{
    text-align: center;
}

.jumbotron h1{
    color: #fff;
    font-size: 4rem;
    margin-top: 250px;
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    height: fit-content;
    width: fit-content;
    font-family: raleway, sans-serif;
    border: 3px solid #fff;
}

.button {
    display: flex;
    align-items: center;
    font-family: quicksand, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(#E0C100, #AD9600);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #00000098;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #aaaaaa98;
  }
  
  .button:active {
    box-shadow: 0 0.3em 1em -0.5em #e9e9e998;
  }

  a{
    text-decoration: none;
  }